[submodule "IDCardHolder/smooth-prim"]
	path = IDCardHolder/smooth-prim
	url = git@github.com:rcolyer/smooth-prim.git
[submodule "Bottle/threads-scad"]
	path = Bottle/threads-scad
	url = git@github.com:rcolyer/threads-scad.git
[submodule "Bottle/smooth-prim"]
	path = Bottle/smooth-prim
	url = git@github.com:rcolyer/smooth-prim.git
[submodule "Bottle/BOSL"]
	path = Bottle/BOSL
	url = git@github.com:revarbat/BOSL.git
